<div class="container mt-3">
  <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/"></a>
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/">Contactos</a>
          <div class="buscar">
            <a class="nav-item nav-link" routerLink="/buscar">Buscar Contactos</a>
            <a class="nav-item nav-link" routerLink="/crear">Crear Contacto</a>
          </div>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>
